<div>
  <a href="{{item.externalUrl}}">{{item.title}}</a>
  <div>
    <span>{{item.points}} points by {{item.user}} {{item.timeAgo}} </span>
    <span {{action markAsRead}} class='test__item-delete-button'>Mark as Read </span>
  </div>
  {{#link-to 'item' item}} {{item.commentsCount}} Comments{{/link-to}}
</div>
