{{#each model as  |story|}}
  <p>
    <strong>id:</strong> {{story.id}}<br>
    <strong>title:</strong> {{story.title}}<br>
    <strong>points:</strong> {{story.points}}<br>
    <strong>user:</strong> {{story.user}}<br>
    <strong>time:</strong> {{story.time}}<br>
    <strong>time ago:</strong> {{story.timeAgo}}<br>
    <strong>comments count</strong> {{story.commentsCount}}<br>
    <strong>type</strong> {{story.type}}<br>
    <strong>url</strong> <a href="{{story.url}}">{{story.url}}</a><br>
    <strong>domain</strong> <a href="http://{{story.domain}}">{{story.domain}}</a><br>
  </p>
  <hr>
{{/each}}
{{outlet}}
